/*body {
  background: green;
}*/

h1 {
  font-family: 'Denk One', sans-serif;
  text-align: center;
  font-size: 76px;
  color: #104210;
}

p {
  text-align: center;
  font-family: 'Denk One', sans-serif;
  margin: -50px 0 0 0;
}
#gameBoard {
  width: 1024px;
  height: 576px;
  background: grey;
  margin: 0 auto;
  background: url('../images/forest.png');
}

#border-of-game {
  width: 996px;
  height: 550px;
  border: 4px solid purple;
  margin: 0 auto;
  margin-top: 10px;

}

#treasureContainer {
  width: 1024px;
  height: 576px;
  border: medium solid transparent;
  /* need to give container border to allow
  border-of-game to have margin-top. Border 
  is transparant */

}


.emptyDiv {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  float: left;
}